*{
	color: white;
	text-align: center;
	font-family: futura;
	text-shadow: 1px 1px black;
}

button {
	margin-left: 20px;
}

h1 {
	font-size: 44px;
	color: #F2F477;
	text-shadow: 2px 2px black;
}

.center {
	text-align: center;
	margin-right: 22px;
	margin-top: 3%;
}

.remote {
	width: 50px;
	height:  auto;
	background-color: white;
	border-radius: 100px;
	margin-left: 20px;
}

.remote:hover {
	background-color: cyan;
}

.playlist {
	margin-top: 5px;
	font-size: 20px;
}

.playlist:hover {
	cursor: pointer;
	background-color: #F2F477;
}

#background {		
	/*spans background across page*/		
 	position: fixed;		
 	width: 100%;		
 	height: 100%;		
 	top: 0;		
 	right: 0;		
 	z-index: -100;		
}

#content {
	display: none;
}

#scrubs:hover {
	background-color: teal;
}

#friends:hover {
	background-color: pink;
}

#avengers:hover {
	background-color: silver;
}

#nba:hover {
	background-color: cyan;
}

#playlist-box {
	margin-top: 25px;
}

#random {
	margin-bottom: 30px;
	width: 335px;
}

/* depresses button when you click*/
#random:active {
  background-color: orange;
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}

#pause{
	width: 43px;
	height: auto;
}

#stop{
	width: 43px;
	height: auto;
}

#rewind {
	/*all of below flips an image*/
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#skip {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#time {
	font-size: 20px;
	margin-top: 30px; 
}

.center img {
	image-rendering: crisp-edges;
	cursor: pointer;
	border: 3px solid black;
}